@import "../../sass/mixins/colours";

@mixin buttonColour($fill-color, $active-color) {
    background-color: $fill-color;

    &:hover,
    &:active {
        background-color: $active-color;
    }

    &.rds-button--secondary {
        border-color: $fill-color;
        color: $fill-color;

        &:hover:not(:active) {
            box-shadow: 0 0 2px 0 rgba($fill-color, 0.8);
        }

        &:active {
            color: $active-color;
        }
    }
}

button,
.rds-button {
    border: solid 1px transparent;
    border-radius: 4px;
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    transition: background-color 0.2s ease-out;

    // Subtract 1px from padding to account for the border width
    padding: 7px 23px;

    &:hover,
    &[disabled] {
        position: relative;

        &:not(.rds-button--secondary)::after {
            background-color: rgba($white, 0.1);
            border-radius: 4px;
            content: '';
            margin: -1px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }

    &:hover::after {
        background-color: rgba($white, 0.1);
    }

    &[disabled] {
        pointer-events: none;

        &.rds-button--secondary {
            border-color: $blue-grey--300;
            color: $blue-grey--300;
        }

        &:not(.rds-button--secondary)::after {
            background-color: rgba($white, 0.65);
        }
    }

    @include buttonColour($blue--500, $blue--700);

    &[color=green] {
        @include buttonColour($green--500, $green--700);
    }

    &[color=red] {
        @include buttonColour($red--500, $red--700);
    }


    &.rds-button--secondary {
        background-color: transparent;

        &:hover,
        &:active {
            background-color: transparent;
        }
    }
}