.rds-button {
  background-color: #e1eaf3;
  border-radius: 8px;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  padding: 8px;
  transition: background-color 0.2s ease-out; }
  .rds-button:hover {
    background-color: #c4cdd6; }
  .rds-button[disabled] {
    pointer-events: none;
    opacity: 0.5; }
  .rds-button[color] {
    color: #FFFFFF; }
  .rds-button[color=green] {
    background-color: #4fdd59; }
    .rds-button[color=green]:hover {
      background-color: #49b950; }
  .rds-button[color=orange] {
    background-color: #e67526; }
    .rds-button[color=orange]:hover {
      background-color: #cb6621; }
  .rds-button[color=red] {
    background-color: #ed432d; }
    .rds-button[color=red]:hover {
      background-color: #cc3a27; }
  .rds-button[color=blue] {
    background-color: #5193dc; }
    .rds-button[color=blue]:hover {
      background-color: #4b84c8; }
