$black: #1a1a1a;

$white: #ffffff;

$blue-grey--900: #42484d;
$blue-grey--700: #707980;
$blue-grey--500: #b3bec7;
$blue-grey--300: #d3dee6;
$blue-grey--100: #f0f8ff;

$grey--900: #333333;
$grey--700: #636363;
$grey--500: #949494;
$grey--300: #c4c4c4;
$grey--100: #f5f5f5;

$purple--900: #81008a;
$purple--700: #a00fab;
$purple--500: #bb39c4;
$purple--300: #d85ee0;
$purple--100: #e08ee6;
$purple--50: #fef2ff;

$red--900: #cc2d14;
$red--700: #d1402a;
$red--500: #e65a45;
$red--300: #ff8573;
$red--100: #f2a99d;
$red--50: #ffe3df;

$green--900: #008c2a;
$green--700: #13bf47;
$green--500: #38d667;
$green--300: #83e6a0;
$green--100: #adf7c3;
$green--50: #e3ffeb;

$blue--900: #005485;
$blue--700: #0079bf;
$blue--500: #19abff;
$blue--300: #70cbff;
$blue--100: #bde7ff;
$blue--50: #f0faff;
