$grid-columns: 12;

@mixin grid() {
  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr);
  grid-column-gap: 8px;
}

@mixin grid-col-span($span) {
  grid-column-start: span $span;
}

@mixin grid-col-right-span($span) {
  grid-column-start: span $span;
  grid-column-end: -1;
}

@mixin grid-col-span-center($span) {
  grid-column: #{$span} / #{-$span};
}

@mixin grid-section() {
  @include grid();

  > section {
    margin-top: 16px;

    @include grid-col-span-center(2);
  }
}