@import "./shared.scss";

html {
  height: 100%;
}

body {
  color: #333333;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  color: #3395f5;
  cursor: pointer;
  text-decoration: none;
}

section {
  padding: 16px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 32px;
  font-family: Raleway, sans-serif;
  font-weight: 300;
}

h2 {
  font-size: 28px;
  font-family: Raleway, sans-serif;
  font-weight: 300;
}

h3 {
  font-size: 24px;
  font-family: Raleway, sans-serif;
  font-weight: 300;
}

h4 {
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 500;
}

h5 {
  font-size: 16px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
}

h6 {
  font-size: 14px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
}

#root {
  display: grid;
  grid-template-columns: [sidebar-start] 15% [sidebar-end] auto [column-end];
  grid-template-rows: [nav-start] 50px [nav-end] auto [row-end];
  grid-template-areas:
          "header header"
          "sidebar content";
  height: 100%;
}

nav {
  background-color: #346d90;
  display: flex;
  grid-area: header;

  a {
    color: #FFFFFF;
    display: flex;
    padding: 0 16px;


    &:hover,
    &.active {
      background-color: #27526c;
    }

    span {
      align-self: center;
    }
  }
}

.rds-sidebar {
  background-color: #d3eeff;
  grid-area: sidebar;

  a {
    color: #333333;
    display: block;
    padding: 8px 16px;

    &:hover,
    &.active {
      background-color: #8babc7;
      color: #FFFFFF;
    }
  }
}

.rds-content {
  grid-area: content;
}